@media (max-width: 1280px) {
  .topmenu__logo {
    grid-column: 2/3;
  }
  .topmenu__menu {
    grid-column: 3 / span 10;
  }
  .topmenu__logo img {
    height: 80px;
    align-self: center;
  }
  .banner-buttons-block {
    margin: 100px 32px 0 32px;
  }
  .services__tabs-links p {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .contact__grid_2column{
    width: 100vw;
    grid-template-columns: 1fr;
  }
  .banner-buttons-block {
    margin: 100px 12px 0 12px;
  }
  .topmenu__menu-list-link {
    font-size: 18px;
  }
  .topmenu__logo {
    grid-column: 1/2;
  }
  .topmenu__menu {
    grid-column: 2 / span 11;
  }
  .topmenu__menu li {
    align-self: center;
  }
  .topmenu__logo img {
    height: 80px;
    align-self: center;
  }
  /* .services__tabs-links a {
    padding-left: 15%;
    font-size: 16px;
  } */
  .services__tabs-links p {
    padding-left: 15%;
    font-size: 19px;
  }
  .services__description-text {
    font-size: 16px;
  }
  .services__description-image {
    margin: 0;
    padding: 30px;
  }
  .services__description-title {
    padding: 0 20px;
    font-size: 20px;
  }
  .work-circle {
    width: 170px;
    padding-bottom: 53px;
  }
  .footer-banner-title {
    font-size: 25px;
  }
  .footer-banner__image {
    max-width: 50%;
  }
  .center-sertificate {
    flex-wrap: wrap;
  }
  .sertificate-image {
    order: 2;
    width: 100%;
  }
  .project-tabs-block {
    padding: 0 10px;
  }
  .banner-buttons-block {
    margin: 100px 22px 0 22px;
    height: 160px;
    max-height: 100%;
  }
  .banner-button-text {
    font-size: 16px;
  }
  .grid_2column {
    padding-top: 100px;
  }
}
@media (max-width: 800px) {
  /* .services__tabs-links ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-start;
      padding-left: 10px;
    } */
  .grid_2column {
    grid-template-columns: 1fr;
  }
  .advantages-block2-img {
    width: 100%;
    padding: 40px 0;
  }
  .how-we-work-tabs_block {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .work-image {
    width: 100%;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .services__tabs-links {
    margin: 90px 0 0 0;
  }
  .services__tabs-links li {
    padding: 0;
  }
  .services__tabs-links p {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
  }
  /* .services__tabs-links a {
    padding-left: 10%;
    font-size: 22px;
  } */
  .active-tab::after {
    content: "";
  }
  .services__description {
    padding-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .services__description-text {
    max-width: 100%;
  }
  .services__tabs-links {
    /* margin: 120px 0 20px 0; */
  }
  .services__tabs-links p {
    margin: 5px 0;
    padding-left: 14%;
  }
  /* .banner-description{
      grid-template-columns: 1fr;
    }
    */
  .header__banner-title {
    font-size: 32px;
  }
  .banner-buttons {
    display: none;
  }
  .header__banner-img {
    margin-top: 0px;
    min-width: 200px;
    max-width: 60%;
  }
  .topmenu__logo {
    justify-self: flex-start;
  }
  .topmenu {
    grid-template-columns: 1fr;
    height: 100px;
  }
  .topmenu__menu {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  .slick-prev {
    display: none;
  }
  .slick-next {
    display: none;
  }
  .how-we-work-tabs {
    grid-template-columns: 1fr 1fr;
    margin: 120px 0 50px 0;
  }
  .title-block-work {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .project-tabs {
    grid-template-columns: 1fr 1fr;
  }
  .footer-banner {
    flex-wrap: wrap;
  }
  .footer-banner__image {
    max-width: 100%;
    flex-basis: 100%;
  }
  .footer-banner-title {
    font-size: 35px;
    min-width: 70vw;
    display: block;
    padding-right: 20px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer-contact-information {
    flex-basis: 100%;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  .footer-contact-description {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  .center-sertificate {
    padding: 10px;
  }
  .grid_2_column{
    grid-template-columns: 1fr;
  }
  .projects-page .article-title{
    left:5%;
  }
}
@media (max-width: 560px) {
  /* .slick-slide{
      padding: 10px 20px 0px 20px;
    }  */
  .header__banner-title {
    font-size: 22px;
  }
  .header__banner-description {
    font-size: 18px;
  }
  .banner-description {
    grid-template-columns: 1fr;
  }
  .header__banner-title,
  .header__banner-description {
    text-align: center;
    padding: 10px;
  }
  .header__description {
    align-items: center;
  }
  /* .advantages-inner-blocks-right,
    .advantages-inner-blocks-left {
      width: 100%;
      justify-content: flex-start;
    } */
  .footer-banner {
    justify-content: center;
  }
  .footer-banner-title::before {
    content: "";
  }
  .footer-banner-title {
    font-size: 26px;
    text-align: center;
  }
  .footer-banner-description {
    padding: 10px;
  }
  /* .services__tabs-links a {
    padding-left: 10%;
    font-size: 16px;
  } */
  .services__tabs-links p {
    
    font-size: 14px;
  }
  .services__tabs-links li {
    padding: 5px 0;
  }
  .advantages-text {
    font-size: 18px;
  }
  .work-circle {
    width: 100px;
    padding-bottom: 23px;
  }
  .project-tabs-link {
    max-width: 120px;

    font-size: 14px;
  }
}
@media (max-width: 400px) {
  .advantages-inner-blocks-right,
  .advantages-inner-blocks-left {
    width: 100%;
    justify-content: flex-start;
  }
  .advantages-block-1 {
    justify-content: flex-start;
    margin-left: 5px;
  }
  .advantages-numbers {
    /* min-height: 40px; */
    max-height: 70px;
    padding: 10px 20px;
  }
  .advantages-text {
    margin-left: 10px;
    font-size: 16px;
  }
  .work-block-description > p {
    font-size: 16px;
    padding: 5px;
  }

  .project-tabs-block {
    padding: 0 10px;
    min-width: 50%;
  }
  .project-tabs-link {
    font-size: 12px;
    font-weight: bold;
  }
  .topmenu__logo img {
    max-height: 60px;
  }
}
